.navbar{
    height: 7vh;
    display: flex;
    justify-content: space-between;
    background-color: #251B37;
}
.navbar_logo{
    display: flex;
    align-items: center;
    flex: 0.5;
    &>h2{
        margin-left: 20px;
        font-family: 'Poppins';
        color: white;
    }
}

.navbar_links{
    display: flex;
    align-items: center;
    flex: 0.5;
    justify-content: flex-end;
    
    &_wrapper{
        padding-right: 20px;
        display: flex;
        width: 20%;
        gap: 50px;
        &>a{
            text-decoration: none;
            height: 5vh;
            width: 8vw;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #5F9DF7;
            border-radius: 10px;
            color: white;
            font-family: 'Poppins';
        }
    }
}

