@import '../../utilities.scss';
.display{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 7vh;
    &>input{
        width: 80%;
        height: 6vh;
        border-radius: 7px;
        font-family: 'Poppins';
        outline: none;
        border: none;
        padding-left: 10px;
    }
    &>input:active{
        border-color:#5F9DF7 ;
    }
}