$button-color:#5F9DF7;

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-veritcal {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@mixin center-vertically {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin spacearound {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@mixin spacearound {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
@mixin spacearound {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
